.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.fade-slider {
  overflow-x: visible;
  position: relative;

  img {
    //this is necessary to be able to drag images.
    pointer-events: none;
  }

  &__list {
    width: 99999px;
    position: relative;
    @extend .clearfix;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  &__page {
    float: left;
    width: 100%;
    display: none;
    overflow: hidden;
  }

  &.initialized {
    .fade-slider__page {
      display: block;
    }
  }

  &.animate {
    .fade-slider__page {
      transition: all 0.3s ease-in;
    }
  }

  &.linear-ease {
    .fade-slider__page {
      transition-timing-function: linear;
    }
  }

  &.initialized {
    .fade-slider__page {
      position: absolute;
      top: 0;
      left: 0;
      float: none;
    }
  }
}


//will cut off overflow to ensure that fade slider doesn't flow out of grid anyways
.fade-slider-container {
  overflow-x: hidden;
}
